.home {
    height: 55em;
    background-color: #3498db;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home > header {
    display: flex;
    height: 8em;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.home > header > .logo {
    margin: 0;
}

.home-content {
    height: 50%;
    color: #ecf0f1;
    text-align: center;
    text-transform: uppercase;
}

.home-content > h1 {
    font-size: 86px;
}

.home-content > h2 {
    font-size: 62px;
}