ul {
    padding: 0;
}

li {
    list-style-type: none;
    display: inline-block;
}

figcaption {
    width: 14em;
}

button {
    cursor: pointer;
    outline: 0 !important;
}

.read-more:hover {
    background-color: #0062cc;
}

.navbar-icon {
    height: 27px;
    width: 38px;
    background-image: url("../icons/menu.png");
    border: none;
}

.bottom-info > ul > li {
    padding: 5em;
}

.our-clients {
    background-color: #9b59b6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.minim-veniam {
    padding: 3em;
    height: 25em;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    color: #2c3e50;
}

.minim-veniam > header {
    width: 60%;
}
