@media (max-width: 1480px) {

    .about-us {
        font-size: 1em;
        padding: 0;
    }

    .read-more {
        font-size: 1em;
    }

    .clients{
        width: 100%;
        margin: 0;
        font-size: 0.8em;
    }

    .slider {
        display: none;
    }

    .partners > ul > li {
        padding: 1vh;
    }

    .bottom-info > ul > li {
        padding: 0;
    }

    .recent-projects {
        width: 100%;
    }
    .recent-projects-header{
        width: 100%;
    }
    .minim-veniam{
        width: 100%;
        padding: 1em 0 0 0;
    }
    .our-team-header{
        width: 100%;
    }
}