.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    color: #2c3e50;
}

.our-team-header {
    text-align: center;
    text-transform: uppercase;
    padding: 3em 0 0 0;
    width: 50%;

}

.our-team-content {
    padding: 1em;
}

.img-detail {
    text-transform: uppercase;
    padding: 1em 0 1em 0;
    font-weight: 700;
    font-size: 1.3em;
}