.recent-projects {
    background-color: #27ae60;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    padding: 5em;
    color: white;
}

.recent-projects-header {
    text-align: center;
    width: 40%;
}

.recent-projects-header > h2 {
    font-size: 30px;
    font-weight: 500;
}

.recent-projects-content {
    padding: 1em 0 1em 0;
    font-size: 1.3em;
    font-weight: 400;
}